* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, rgb(6, 115, 129), rgb(173, 210, 211));
}

.inner-box {
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    padding: 30px 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:linear-gradient(to top left,#7cf1ebd3,#9dbdbad3) ;
    backdrop-filter: blur(4px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(159, 230, 131);
    z-index: 5;
}

h1 {
    font-size: 2.5rem;
    color: #212121;
       justify-content: center;
    text-align: center;
}

.signup-header p {
    font-size: 1rem;
    color: #443;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    justify-content: center;
    text-align: center;
}

.signup-body {
    margin: 20px 0;
}

.signup-body p {
    margin: 10px 0;
}

.signup-body label {
    display: block;
    font-weight: bold;
    /* padding: 4px; */
}

.signup-body p input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
    border: 2px solid #cccc;
}
.signup-body p input:hover{
    background-color:rgb(243, 235, 235);
}
.signup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
    background-color: #1f6797;
}
.signup-footer{
    color: #555;
    text-align: center;
}
.signup-footer a{
    color: #145b8a;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
   
}
.c1{
    top: 100px;
    left: 40px;
    background:linear-gradient(to top left, #c5dfdcfb,#6af1e6d3);
    backdrop-filter: blur(1px);
}
.c2{
    bottom: 100px;
    right: 40px;
    background:linear-gradient(to bottom right, #c5dfdcfb,#6af1e6d3);
    backdrop-filter: blur(1px);
}
